@font-face {
    font-family: "Poppins", sans-serif;
    src: url('../fonts/EuroSansPro-Bol.eot');
    src: url('../fonts/EuroSansPro-Bol.eot?#iefix') format('embedded-opentype'), url('../fonts/EuroSansPro-Bol.woff2') format('woff2'), url('../fonts/EuroSansPro-Bol.woff') format('woff'), url('../fonts/EuroSansPro-Bol.ttf') format('truetype'), url('../fonts/EuroSansPro-Bol.svg#EuroSansPro-Bol') format('svg');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

:root{
  --primaryColor: #FFCB24;
  --light-primaryColor: #FFD858;
  --secondaryColor: #0E385D;
  --light-secondaryColor: #20619A;
  --titleColor:#1F1917;
  --txtColor:#3C3735;
  --grayColor:#626262;
  --borderColor:#E4E4E4;
  --lightColor:#F7F7F7;
  --whiteColor:#ffffff;
  --blackColor:#000000;
  --lightgrayColor:#AAB9C7;
  --bodyFont: "DM Sans", sans-serif;
  --titleFont: "Rozha One", serif;
  --primaryGradient: linear-gradient(180deg, #2675BC 0%, #0E385D 100%);
  --fancyFont: 'EuroSansPro';
}

/* Basics */
html{ overflow-x: hidden; scrollbar-color: var(--primaryColor) lightgray; scrollbar-width: thin;}
body{ padding:90px 0 0; margin:0; font-size: 17px; color:var(--txtColor); font-family: var(--bodyFont); line-height: 1.5;}
a, button{outline:none !important; text-decoration:none; box-shadow:none; transition:all .3s ease-in-out;}
a:hover, a:focus, select:focus, button:focus,.btn:focus,btn.focus { outline:none; text-decoration:none; box-shadow:none;}
* { margin:0; padding:0;}
img { border:none; vertical-align:middle; max-width:100%; height:auto;}
li{ list-style:none;}
h1, h2, h3, h4, h5, h6{ outline:none !important;}
input, select, textarea, button{ outline:none !important; box-shadow:none;}
input, textarea, select{ /*-moz-appearance: none; -webkit-appearance: none;*/ box-shadow:none !important;}

/* Container */
.container{ width:90%; max-width:1410px; margin:0 auto; padding:0;}
.container.lg{ max-width: 1137px;}
.container.md{ max-width: 1300px;}
.container.sm{ max-width: 1087px;}

/* Paragraph */
p{ font-size: 17px; line-height: 29px; color: var(--txtColor);} 
/* ... trimmed for brevity (file copied from public/css/style.css) ... */
