.filter .form-block + .form-block ::ng-deep .mdc-text-field--filled{ border-left: none !important;}
::ng-deep .mat-mdc-form-field{ display: flex !important;}
::ng-deep .mat-mdc-form-field-has-icon-suffix .mat-mdc-text-field-wrapper{ padding-right: 10px !important;}
::ng-deep .mat-mdc-form-field-infix{ min-height: 53px !important; padding-top: 21px !important; padding-bottom: 8px !important;}
::ng-deep .mdc-text-field--filled { border: 1px solid #B3B3B3 !important; border-radius: 0 !important; box-shadow: none !important; background: var(--whiteColor) !important;}
::ng-deep .mat-mdc-form-field .mat-mdc-floating-label.mdc-floating-label{ font-size: 17px; color: var(--txtColor) !important; font-weight: 400; text-transform: unset;}
::ng-deep .mat-mdc-form-field .mat-mdc-form-field-subscript-wrapper{ display: none !important;}
::ng-deep .mat-mdc-form-field .mdc-line-ripple{ display: none !important;}

.guests-input ::ng-deep .mat-expansion-panel{ border: 1px solid #B3B3B3; border-radius: 0 !important; box-shadow: none; background: var(--whiteColor); overflow: visible;}
.filter .form-block + .form-block ::ng-deep .mat-expansion-panel{ border-left: none !important;}
.guests-input ::ng-deep .mat-expansion-panel .mat-expansion-panel-header{ height: 53px; font-size: 17px; color: var(--txtColor); font-weight: 400;}
.guests-input ::ng-deep .mat-expansion-panel .mat-expansion-panel-content-wrapper{ position: absolute; top: 100%; left: 0; width: 100%; z-index: 55;}
.guests-input ::ng-deep .mat-expansion-panel .mat-expansion-panel-body{ padding: 0;}

::ng-deep .mat-datepicker-content .mat-calendar{ width: 256px !important; height: 300px !important;}
::ng-deep .mat-datepicker-content{ background: var(--whiteColor) !important; border: 1px solid var(--borderColor) !important; color:var(--txtColor) !important; border-radius: 4px !important;}
::ng-deep .mat-calendar-body-today:not(.mat-calendar-body-selected):not(.mat-calendar-body-comparison-identical){ background: none !important; border-color: var(--primaryColor) !important;}
::ng-deep .mat-calendar-body-selected{ background: var(--primaryColor) !important; font-weight: 600; color: var(--blackColor) !important;}
::ng-deep .mat-datepicker-content .mat-calendar-controls{ margin-top: 0 !important;}
::ng-deep .mat-datepicker-content .mat-calendar-controls .mat-calendar-spacer{ display: none;}
::ng-deep .mat-datepicker-content .mat-calendar-controls .mat-calendar-period-button{ order: 1; flex: 1; font-size: 16px; color: var(--secondaryColor); font-weight: 600; background-color: transparent !important; text-transform: uppercase;}
::ng-deep .mat-datepicker-content .mat-calendar-controls .mat-calendar-next-button{ order: 2;}

@media (max-width: 1200px) {
::ng-deep .mat-mdc-form-field-infix{ width: 100% !important;} 
}